.wrapper {
  display: grid;
  width: 100%;
  max-width: 984px;
  background-color: #abcdef;
  margin-left: auto;
  margin-right: auto;
}
.noReviews {
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
